var config =
{
    // set the url to use for the lodestone and the forums
    // Import:  Some code parsing relies on English words, this will break
    //          when language is not English. (WIP)
    lodestoneUrl: 'na.finalfantasyxiv.com',
    forumsUrl: 'forum.square-enix.com',

    //
    // Function used to set the lodestone language, the deault is na
    //
    setLodestoneLanguage: function(lang)
    {
        switch(lang)
        {
            default:
            case 'na': config.lodestoneUrl = 'na.finalfantasyxiv.com'; break;
            case 'eu': config.lodestoneUrl = 'eu.finalfantasyxiv.com'; break;
            case 'fr': config.lodestoneUrl = 'fr.finalfantasyxiv.com'; break;
            case 'de': config.lodestoneUrl = 'de.finalfantasyxiv.com'; break;
            case 'fr': config.lodestoneUrl = 'fr.finalfantasyxiv.com'; break;
            case 'jp': config.lodestoneUrl = 'jp.finalfantasyxiv.com'; break;
        };
    },

    // Where is your xivsync server hosted? (use 0.0.0.0 for vagrant, or localhost for Window/OSX)
    host: '0.0.0.0',

    // What port will your server be hosted on?
    port: 3000,

    // (optional) what SSL port will your server use?
    portssl: 3443,

    // Should the server use persistent data?
    // Please read the docs "Persistent Tracking" regarding this
    persistent: true,

    // The number of agent socket connections to keep alive
    agentMaxSockets: 1000,

    // Database details, used for persistent tracking.
    db:
    {
        host: 'localhost',
        user: 'xivsync',
        pass: 'xivsync',
        table: 'xivsync',
        socket: '/var/run/mysqld/mysqld.sock',
        debug:  false,
    },

    // hapi options, if our server will be on SSL you can provide tokens here.
    hapi: {},

    // Settings for the app itself
    settings: {
        // Should urls be cache broken?
        breakCacheOnHttpGet: false,

        // Default timezone for cronjobs
        cronTimeZones: 'Japan',

        // Start the cronjob immediately?
        cronStart: true,

        // Fire the cronjob ontick method
        cronRunOnInit: true,

        // If to truncate sql statements (can be very long), set to 0 if not
        sqlStatementTruncate: 50,

        // Auto add characters
        autoAddCharacters: {
            // Enable or disable automatic adding characters
            enabled: true,

            // The time delay betwen auto adding characters
            cronTime: '*/60 * * * * *',

            // The number of characters to auto add per cron cycle
            limitPerCycle: 1
        },

        // Auto update characters
        autoUpdateCharacters: {
            // Enable or disable automatic updating characters
            enabled: false,

            // The time delay betwen auto updating characters
            cronTime: '*/60 * * * * *',

            // The number of characters to auto update per cron cycle
            limitPerCycle: 1,

            // Minimum amount of exp to generate an event, we want this kind of
            // high so that we do not generate lots of "little" events, in XIV
            // you will mostly always earn a good chunk before stopping.
            minimumExpForEvent: 10000,

            // Should events be tracked?
            enableProgressEvents: true,

            // Should character details be tracked?
            enableProfileTracking: true,

            // Should stats be ranked?
            enableAttributeStatsRanking: true,

            // Should mounts and minions be recorded?
            enablePetsTracking: true,

            // Should players FC's be added to the pending list?
            enablePlayerFCPending: true,

            // Should track Grand Companies?
            enableGrandCompanyTracking: true,

            // Should gear be tracked?
            enableGearTracking: true,
        },

        // Auto update achievements
        autoUpdateAchievements: {
            // Enable or disable automatic adding characters
            enabled: false,

            // The time delay betwen auto adding characters
            cronTime: '*/60 * * * * *',

            // The number of characters to auto add per cron cycle
            limitPerCycle: 1,

            // Should achievements be tally'd up?
            enableTallyPoints: true,

            // Should achievements be tracked?
            enableTracking: true,
        },

    }
}

// Export it
module.exports = config;
