var config =
{
    // set the url to use for the lodestone and the forums
    // Import:  Some code parsing relies on English words, this will break
    //          when language is not English. (WIP)
    lodestoneUrl: 'na.finalfantasyxiv.com',
    forumsUrl: 'forum.square-enix.com',

    //
    // Function used to set the lodestone language, the deault is na
    //
    setLodestoneLanguage: function(lang)
    {
        switch(lang)
        {
            default:
            case 'na': config.lodestoneUrl = 'na.finalfantasyxiv.com'; break;
            case 'eu': config.lodestoneUrl = 'eu.finalfantasyxiv.com'; break;
            case 'fr': config.lodestoneUrl = 'fr.finalfantasyxiv.com'; break;
            case 'de': config.lodestoneUrl = 'de.finalfantasyxiv.com'; break;
            case 'fr': config.lodestoneUrl = 'fr.finalfantasyxiv.com'; break;
            case 'jp': config.lodestoneUrl = 'jp.finalfantasyxiv.com'; break;
        };
    },

    // Where is your xivsync server hosted?
    host: 'xivsync.dev',

    // What port will your server be hosted on?
    port: 3000,

    // (optional) what SSL port will your server use?
    portssl: 3443,

    // Should the server use persistent data?
    // Please read the docs "Persistent Tracking" regarding this
    persistent: false,

    // Database details, used for persistent tracking.
    db:
    {
        host:   'localhost',
        user:   'xivsync',
        pass:   'xivsync',
        table:  'xivsync',
        debug:  false,
    },

    // hapi options, if our server will be on SSL you can provide tokens here.
    hapi: {}
}

// Export it
module.exports = config;
