<html>
<head>
    <title>XIVSync API</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <style>{{{ css }}}</style>
</head>
<body>

    <header>
        <section>
            <span class="data">
                <em>Tokyo</em>
                <em>v5.5</em>
            </span>
            <h1>XIVSync API</h1>
            <p>Get all the data from the Final Fantasy XIV Lodestone.</p>
        </section>
    </header>

    <div class="bar">
        <nav>
            <a href="/">Home</a>
            <a href="/characters">Characters</a>
            <a href="/freecompany">Free Company</a>
            <a href="/linkshells" class="active">Linkshell</a>
            <a href="/database">Database</a>
            <a href="/lodestone">Lodestone</a>
        </nav>
    </div>

    <section>
        <h2>Linkshells</h2>
        <p><strong>Search</strong> and <strong>Get</strong> information about linkshells.</p>

        <hr>

        <p>To do...</p>
    </section>
</body>