// --------
// All these colors are suggested by google
// http://www.google.com/design/spec/style/color.html

$googleBlue500: #5677fc;
$googleGreen500: #259b24;
$googleOrange500: #ff5722;
$googleGray400: #bdbdbd;
$googleGray600: #757575;