var config =
{
    host: 'xivsync.com',
    port: 3000,

    db:
    {
        host:   'localhost',
        user:   'xivsync',
        pass:   'xivsync',
        table:  'xivsync',
        debug:  false,
    },
}

// Export it
module.exports = config;