<html>
<head>
    <title>XIVSync API</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <style>{{{ css }}}</style>
</head>
<body>

    <header>
        <section>
            <h1>XIVSync API</h1>
            <p>Get all the data from the Final Fantasy XIV Lodestone.</p>
        </section>
    </header>

    <div class="bar">
        <nav>
            <a href="#" class="active">Home</a>
            <a href="#">Characters</a>
            <a href="#">Free Company</a>
            <a href="#">Linkshell</a>
            <a href="#">Database</a>
            <a href="#">Lodestone</a>
        </nav>
    </div>

    <section>
        <h2>What is this?</h2>
        <p>This API acts as a relay for obtaining data from the official game website:
        <a href="http://na.finalfantasyxiv.com/lodestone/" target="_blank">The Lodestone</a>.</p>
        <p>It provides a lightweight and clean response for various data from the API. The data is pulled
        straight from the API and never cached. This server is based in <strong>Tokyo</strong>, if your
        web server is in the US or EU, it is recommended to use the <a href="#">XIVPads API</a><em class="danger">*</em> instead.</p>
        <p class="subtext"><em class="danger">*</em> The XIVPads API does not parse the site,
        but provides pre-parsed data. <a href="#">Click here to read more.</a></p>

        <hr>

        <h2>What is required?</h2>
        <p>
            This API is REST-like, you just need to query the urls. They're all open and you should be good to go in any language.
            Responses are in <strong>JSON</strong> format. SDK are provided for <strong>Javascript</strong> and <strong>PHP</strong>.
        </p>

        <hr>

        <h2>Limitations?</h2>
        <p>
            There are no hard limits but please do no hit the server with a significant amount of queries. There is a soft build up
            of 2 queries per second before it prevents queries from the same source. This is enough for a single flow from a
            <strong>search</strong> page to a <strong>content</strong> page, eg: search character to select character.
        </p>
        <p>
            If your server is in the US or EU then you may experience a 1-2 second delay per query, this is because of the
            hops your server has to make to connect to XIVSync and respond. Connecting to a Japan server from the US is slow!
            If this is not acceptable for your application, please use the <a href="#">XIVPads API</a>.
        </p>

    </section>
</body>