<html>
<head>
    <title>XIVSync API</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <style>
    section {
        width: 720px;
        margin: 30px auto 50px auto;
    }
    </style>
</head>
<body>
    <section>
        <h1>XIVSync API</h1>
        <p>Server Location: Tokyo</p>
        <hr>

    </section>
</body>